### ENVIRONMENT ###
.env
.envrc
.venv/
.venv.test/
env/
venv/
ENV/
env.bak/
venv.bak/


### PYTHON ###
.pytest_cache/
__pypackages__/
__pycache__/


### JAVASCRIPT ###


### DATABASE ###
db_save/

### IDE ###
.vscode/


### OS ###
.DS_Store